*{
    font-family: Arial, Helvetica, sans-serif;
    text-align: center;
}
.banner{
    background-color: #4D00FF;
    color:white;
    top: 75px;
    text-align: center;
    padding: 100px 20px;
}
#SPILL-OIL{
    height: 200px;
}
#heading{
    color: #4d00ff;
    font-size: 100px;
}
.bold{
    font-weight: 900;
}
h1{
    color: whitesmoke;
}
p, li{
    font-size: 18px;
}
a{
    text-decoration: none;
}
#freedom{
    border-bottom: red;
    border-style: double;
    border-width:5px;
    border-top: #4D00FF;
    border-left: #4D00FF;
    border-right: #4D00FF;
    display: block;
    width: 300px;
    margin: 0 auto;
}